body {
    background-image: url("https://media0.giphy.com/media/WPHp6pRLAeusg/source.gif");
background-repeat: no-repeat;
background-position:center;
background-size:cover;

    
}

h1 {
    color: lavender;

}

.header {
    color: lightblue;
    text-align: center;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

.name {
    color: lightblue;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    width: 50;

}

.name:hover {
    margin: 0 auto;
    background-color: black;
    color: white;
    font-size: 35px;
    width: 50%;
    margin-bottom: 50px;

}

.circleText {
    padding-top: 40px;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    vertical-align: middle;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    color: white;

}

.input {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;

}

.text1 {
    display: flex;
    font-size: 75%;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.button {
    margin-top: 25px;
}

img{
    border:solid 3px Firebrick;
    border-radius: 15px;
    padding: 5px;
    background-color: Indianred;
}